.main-div {
    display: flex;
    max-height: 707px !important;
}

.width-img {
    width: 500px;
    height: 707px !important;
    display: flex;
    flex-direction: column-reverse;
}

.img {
    width: -webkit-fill-available;
}

.lower-div {
    position: absolute;
    width: 500px;
    height: 30%;
    display: flex;
    z-index: 1;
    margin-top: -200px !important;
    justify-content: space-around
}

.team-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    margin: 10px;
}

.visiblity_none {
    visibility: hidden;
}

.visiblity_yes {
    visibility: visible;
}

input,
select,
textarea {
border: none;
  background-color: var(--background-col);
  color: var(--text-col);
}
